<!doctype html>
<html>
    <head>
    </head>
    <body>
        <header>
            <h1>El blog</h1>
            <h2>De Jose Vicente</h2>
        </header>
        <main>
            <form action="/procesacontacto/" method="POST">
                <input type="text" name="nombre" placeholder="Dime tu nombre">
                <input type="email" name="email" placeholder="Dime tu email">
                <textarea name="mensaje"></textarea>
                <input type="submit">
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>